{% extends 'base.html.twig' %}

{% block title %}admin - comptes{% endblock %}

{% block body %}
<section class="admin-section" id="admin-users" x-data="admin_users">
    <h1 class="admin-title">
        Comptes
        <i class="bi bi-plus-circle pointer" @click="switchModal(true, 1)"></i>
    </h1>
    <div class="container-fluid">
        <div class="row">
            <section class="col-12">
                <table class="table table-hover">
                    <thead class="table-primary">
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Nom, Prénom</th>
                            <th scope="col">Mail</th>
                            <th scope="col">Admin</th>
                            <th scope="col">Créé</th>
                            <th scope="col">Modifé</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <template x-for="(item, index) in allUsers">
                            <tr>
                                <th data-th="Id: " scope="row" x-text="item['id']"></th>
                                <td data-th="Nom et Prénom: " x-text="item['lastname'] + ' ' + item['firstname']"></td>
                                <td data-th="Mail: " x-text="item['email']"></td>
                                <td data-th="Admin: ">
                                    <div class="form-check wrap-check-admin">
                                        <input class="form-check-input" type="checkbox" value="" id="'admin' + index" :checked="item['roles'].includes('ROLE_ADMIN')" @change="switchAdmin($event, index)">
                                    </div>
                                </td>
                                <td data-th="Créé: " x-text="item['created']"></td>
                                <td data-th="Modifié: " x-text="item['updated']"></td>
                                <td data-th="Actions: ">
                                    <button type="button" class="btn btn-info me-2 mb-2 text-white" @click="switchModal(true, 1, index)">
                                        <i class="bi bi-pencil-fill"></i>
                                    </button>
                                    <button type="button" class="btn btn-danger mb-2" @click="switchModal(true, 2, index)">
                                        <i class="bi bi-key-fill"></i>
                                    </button>
                                </td>
                            </tr>
                        </template>
                    </tbody>
                </table>
            <section>
        </div>
    </div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
            <template x-if="formType==1">
                <span>Editer un utilisateur</span>
            </template>
            <template x-if="formType==2">
                <span>Changer le mot de passe</span>
            </template>
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
            <template x-if="formType==1">
                <form x-on:submit.prevent="editUser()" x-ref="userform">
                    <div class="mb-3">
                        <label for="email" class="form-label">Mail</label>
                        <input type="email" class="form-control" id="email" name="email" x-model="userM['email']">
                        <template x-if="errors != void 0 && errors['email'] != undefined">
                            <div class="alert alert-danger" x-text="errors['email'][0]"></div>
                        </template>
                    </div>
                    <template x-if="elmIndex==null">
                        <div class="mb-3">
                            <label for="password" class="form-label">Mot de passe</label>
                            <input type="password" class="form-control" id="password" name="password" x-model="userM['password']"  autocomplete="off">
                            <template x-if="errors != void 0 && errors['password'] != undefined">
                                <div class="alert alert-danger" x-text="errors['password'][0]"></div>
                            </template>
                        </div>
                    </template>
                    <div class="mb-3">
                        <label for="lastname" class="form-label">Nom</label>
                        <input type="text" class="form-control" id="lastname" name="lastname" x-model="userM['lastname']">
                        <template x-if="errors != void 0 && errors['lastname'] != undefined">
                            <div class="alert alert-danger" x-text="errors['lastname'][0]"></div>
                        </template>
                    </div>
                    <div class="mb-3">
                        <label for="firstname" class="form-label">Prénom</label>
                        <input type="text" class="form-control" id="firstname" name="firstname" x-model="userM['firstname']">
                        <template x-if="errors != void 0 && errors['firstname'] != undefined">
                            <div class="alert alert-danger" x-text="errors['firstname'][0]"></div>
                        </template>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Envoyer</button>
                    </div>
                </form>
            </template>
            <template x-if="formType==2">
                <form x-on:submit.prevent="editPassword()" x-ref="passwordform">
                    <div class="mb-3">
                        <label for="password" class="form-label">Mot de passe</label>
                        <div class="input-group mb-3">
                            <input type="password" class="form-control" id="password" name="password" x-model="userM['password']"  autocomplete="off" x-ref="password_input">
                            <button class="btn btn-outline-primary" type="button" id="button-addon1" @click="switchPasswordType($refs.password_input)"><i class="bi bi-eye-fill"></i></button>
                        </div>
                        <template x-if="errors != void 0 && errors['password'] != undefined">
                            <div class="alert alert-danger" x-text="errors['password'][0]"></div>
                        </template>
                    </div>
                    <div class="mb-3">
                        <label for="confirmation" class="form-label">Confirmation</label>
                        <div class="input-group mb-3">
                            <input type="password" class="form-control" id="confirmation" name="confirmation" autocomplete="off" x-ref="confirmation_input">
                            <button class="btn btn-outline-primary" type="button" id="button-addon2" @click="switchPasswordType($refs.confirmation_input)"><i class="bi bi-eye-fill"></i></button>
                        </div>
                        <template x-if="errors != void 0 && errors['confirmation'] != undefined">
                            <div class="alert alert-danger" x-text="errors['confirmation'][0]"></div>
                        </template>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Envoyer</button>
                    </div>
                </form>
            </template>
      </div>
    </div>
  </div>
</div>
</section>

<script src="{{ asset('script/admin/users.js') }}" type="module" defer></script>
{% endblock %} 
