{% extends 'base.html.twig' %}

{% block title %}admin - comptes{% endblock %}

{% block body %}
<section class="admin-section" id="admin-users" x-data="admin_users">
    <h1 class="admin-title">Comptes</h1>
    <div class="container-fluid">
        <div class="row">
            
        </div>
    </div>
</section>

<script src="{{ asset('script/admin/users.js') }}" type="module" defer></script>
{% endblock %} 
