{% extends 'base.html.twig' %}

{% block title %}Jolies filles!{% endblock %}

{% block body %}

<section id="beautiful-girls">
dqdfqd
</section>
{# {{ importmap(['app', 'jqueryjs']) }} #}
{% endblock %}