{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<section class="admin-section">
    <h1 class="admin-title">Bienvenue</h1>
    <div class="container-fluid">
        <div class="row">
            
        </div>
    </div>
</section>
{% endblock %}
