{% extends 'base.html.twig' %}

{% block title %}admin - actrices{% endblock %}

{% block body %}
<section class="admin-section" id="admin-actresses" x-data="admin_actresses">
    <h1 class="admin-title">
        Actrices
        <i class="bi bi-plus-circle pointer" @click="switchModal(true)"></i>
    </h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-8 col-lg-9 mb-3">
                <input type="search" class="form-control" name="search" id="search" x-model="keywords" placeholder="nom...." @keypress="searchByKeywords($event)" @search="clearKeywords($event)">
            </div>
            <div class="col-4 col-lg-3 mb-3">
                <select class="form-select" @change="orderByBirthday=$event.target.value">
                    <option value=''>Ordonné par</option>
                    <option value="asc">Ordonné par date de naissance : croissant</option>
                    <option value="desc">Ordonné par date de naissance : décroissant</option>
                </select>
            </div>
            <template x-for="(item, index) in allActresses">
                <div class="col-6 col-md-4 col-lg-2 mb-3">
                    <div class="card">
                        <img :src="item.photoName==null ? '/static/unknown.png' : '/files/' + item.photoName" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title" x-text="item.name"></h5>
                            <p class="card-text" x-text="item.description"></p>
                            <div class="fst-italic" x-text="item.birthday"></div>
                            <div class="mt-3">
                                <button type="button" class="btn btn-info" @click="switchModal(true, index)">Modifier</button>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
            <div class="col-12 mt-5">
                <div id="tui-pagination-container" class="tui-pagination"></div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">
                    <template x-if="elmIndex==null">
                        <span>Ajouter une actress</span>
                    </template>
                    <template x-if="elmIndex != null">
                        <span>Modifier une actress</span>
                    </template>
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form x-on:submit.prevent="editActress()" x-ref="actressform" class="container-fluid">
                    <div class="row">
                        <div class="col-12 mb-3">
                            <label for="name" class="form-label">Nom *</label>
                            <input type="text" class="form-control" id="name" name="name" x-model="actressM['name']">
                            <template x-if="errors != undefined && errors['name'] != undefined">
                                <div class="alert alert-danger">
                                    <template x-for="(item, index) in errors['name']">
                                        <div x-text="item"></div>
                                    </template>
                                </div>
                            </template>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="birthday" class="form-label">Date de naissance</label>
                            <input type="date" class="form-control" id="birthday" name="birthday" x-model="actressM['birthday']">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="country" class="form-label">Pays</label>
                            <input type="text" class="form-control" id="country" name="country" x-model="actressM['country']">
                        </div>
                        <div class="col-12 mb-3">
                            <label for="description" class="form-label">Description</label>
                            <textarea class="form-control" id="description" name="description" x-model="actressM['description']"></textarea>
                        </div>
                        <div class="col-12 mb-2">
                            <label for="formFile" class="form-label">Photo</label>
                            <input class="form-control" type="file" id="formFile" @change="handleFile($event.target)">
                        </div>
                        <div class="col-12 mb-3">
                            <div class="row">
                                <div class="col-6 mb-3">
                                    <div>Photo actuelle</div>
                                    <template x-if="actressM['photoName'] != null">
                                        <div>
                                            <img :src="'/files/' + actressM['photoName']">
                                        </div>
                                    </template>
                                </div>
                                <div class="col-6 mb-3">
                                    <div>Nouvelle Photo</div>
                                    <template x-if="filePath != null">
                                        <div>
                                            <div class="text-danger text-decoration-underline pointer" @click="file=null;filePath=null">Supprimer</div>
                                            <img :src="filePath">
                                        </div>
                                    </template>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mb-3 text-center">
                            <button type="submit" class="btn btn-primary">Envoyer</button>
                        </div>
                    </div>
                </form>
            </div>
            </div>
        </div>
    </div>
</section>


<script src="{{ asset('script/admin/actress.js') }}" type="module" defer></script>
{% endblock %}
