{% extends 'base.html.twig' %}

{% block title %}admin - movies{% endblock %}

{% block body %}
<section class="admin-section" id="admin-movies" x-data="admin_movies">
    <h1 class="admin-title">
        Films
        <i class="bi bi-plus-circle pointer" @click="switchModal(1)"></i>
    </h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mb-3">
               <table class="table table-hover table-striped">
                <thead classs="table-dark">
                    <tr>
                        <th scope="col">
                            <div class="wrap-order-table">
                                <div>Id</div>
                                <div>
                                    <i class="bi bi-caret-up" @click="sortMovies('id', 'desc', 'number')"></i>
                                    <i class="bi bi-caret-down" @click="sortMovies('id', 'asc', 'number')"></i>
                                </div>
                            </div>
                        </th>
                        <th scope="col">
                            <div class="wrap-order-table">
                                <div>Nom</div>
                                <div>
                                    <i class="bi bi-caret-up" @click="sortMovies('name', 'desc', 'string')"></i>
                                    <i class="bi bi-caret-down" @click="sortMovies('name', 'asc', 'string')"></i>
                                </div>
                            </div>
                        </th>
                        <th scope="col">Actrices</th>
                        <th scope="col">
                            <div class="wrap-order-table">
                                <div>Durée</div>
                                <div>
                                    <i class="bi bi-caret-up" @click="sortMovies('last', 'desc', 'number')"></i>
                                    <i class="bi bi-caret-down" @click="sortMovies('last', 'asc', 'number')"></i>
                                </div>
                            </div>
                        </th>
                        <th scope="col">
                            <div class="wrap-order-table">
                                <div>Sortie</div>
                                <div>
                                    <i class="bi bi-caret-up" @click="sortMovies('released', 'desc', 'date')"></i>
                                    <i class="bi bi-caret-down" @click="sortMovies('released', 'asc', 'date')"></i>
                                </div>
                            </div>
                        </th>
                        <th scope="col">Photo</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                    <tbody>
                        <template x-for="(item, index) in allMovies">
                            <tr>
                                <th scope="row" x-text="item.id"></th>
                                <td x-text="item.name"></td>
                                <td>
                                    <template x-for="(item2, index) in item.actors">
                                        <div x-text="item2.name"></div>
                                    </template>
                                </td>
                                <td x-text="item.last"></td>
                                <td x-text="item.released"></td>
                                <td>
                                    <template x-if="item.photos.length > 0">
                                        <img :src="'/files/' + item.photos[0]['name']" alt="">
                                    </template>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-info mb-2 me-2" @click="switchModal(1, index)">Modifier</button>
                                    <button type="button" class="btn btn-danger mb-2 me-2" @click="deleteMovie(index)">Supprimer</button>
                                    <button type="button" class="btn btn-dark mb-2 me-2">Photos</button>
                                </td>
                            </tr>
                        </template>
                    </tbody>
                </table>

                <div class="col-12 mt-5">
                    <div id="tui-pagination-container" class="tui-pagination"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">
                    <template x-if="elmIndex==null">
                        <span>Ajouter un film</span>
                    </template>
                    <template x-if="elmIndex != null">
                        <span>Modifier un film</span>
                    </template>
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <template x-if="modalAction==1">
                    <form x-on:submit.prevent="editMovie()" x-ref="movieform" class="container-fluid">
                        <div class="row">
                            <div class="col-12 mb-3">
                                <label for="name" class="form-label">Nom *</label>
                                <input type="text" class="form-control" id="name" name="name" x-model="movieM['name']">
                                <template x-if="errors != undefined && errors['name'] != undefined">
                                    <div class="alert alert-danger">
                                        <template x-for="(item, index) in errors['name']">
                                            <div x-text="item"></div>
                                        </template>
                                    </div>
                                </template>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="released" class="form-label">Date de sortie *</label>
                                <input type="date" class="form-control" id="released" name="released" x-model="movieM['released']">
                                <template x-if="errors != undefined && errors['released'] != undefined">
                                    <div class="alert alert-danger">
                                        <template x-for="(item, index) in errors['released']">
                                            <div x-text="item"></div>
                                        </template>
                                    </div>
                                </template>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="last" class="form-label">Durée *</label>
                                <input type="number" class="form-control" id="last" name="last" x-model="movieM['last']">
                                <template x-if="errors != undefined && errors['last'] != undefined">
                                    <div class="alert alert-danger">
                                        <template x-for="(item, index) in errors['last']">
                                            <div x-text="item"></div>
                                        </template>
                                    </div>
                                </template>
                            </div>
                            <div class="col-12 mb-3">
                                <label for="description" class="form-label">Description</label>
                                <textarea class="form-control" id="description" name="description" x-model="movieM['description']"></textarea>
                            </div>
                            <div class="col-12 mb-3">
                                <label for="actors" class="form-label">Actrices</label>
                                <div id="list-actors">
                                    <template x-for="(item, index) in allActresses">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" :value="item.id" :id="'check_actor_' + item.id" :checked="movieM['actors'].includes(item.id)" @change="switchActor($event, item.id)">
                                            <label class="form-check-label" :for="'check_actor_' + item.id" x-text="item.name"></label>
                                        </div>
                                    </template>
                                </div>
                            </div>
                            <div class="col-12 mb-3">
                                <div class="mb-2">
                                    <label for="formFile" class="form-label">Photos</label>
                                    <input class="form-control" type="file" id="formFile" @change="handleInputFile($event)">
                                </div>
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-6">
                                            <h5>Photos actuelles</h5>
                                            <template x-for="(item, index) in movieM['photos']">
                                                <div class="mb-1 new-photo" >
                                                    <i class="bi bi-x-circle" @click="deletePhoto(index, false)"></i>
                                                    <img :src="'/files/' + item.name" alt="">
                                                </div>
                                            </template>
                                        </div>
                                        <div class="col-6">
                                            <h5>
                                                Nouvelles photos
                                                <i class="bi bi-arrow-up-circle pointer ms-1" @click="savePhotos()"></i>
                                            </h5>
                                            <template x-for="(item, index) in newPhotos">
                                                <div class="mb-1 new-photo" >
                                                    <i class="bi bi-x-circle" @click="deletePhoto(index)"></i>
                                                    <img :src="item.path" alt="">
                                                </div>
                                            </template>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mb-3 text-center">
                                <button type="submit" class="btn btn-primary">Envoyer</button>
                            </div>
                        </div>
                    </form>
                </template>
            </div>
        </div>
    </div>
</section>


<script src="{{ asset('script/admin/movie.js') }}" type="module"></script>
{% endblock %}
