{% extends 'base.html.twig' %}

{% block title %}Vive le codage!{% endblock %}

{% block body %}

<section id="test-users-petitevue" v-scope @click="mounted()">
    <h2 class="text-center">PetiteVue</h2>
    
</section>

{% block importmap %}
   <script src="{{ asset('script/test/petitevue.js') }}" type="module"></script>
{% endblock %}

{% endblock %}