{% extends 'base.html.twig' %}

{% block title %}Vive le codage!{% endblock %}

{% block body %}

<section id="test-users-react">
    <h2 class="text-center">React.js</h2>
    
</section>

{% block importmap %}
   <script src="{{ asset('script/test/react.js') }}" ></script>
{% endblock %}

{% endblock %}